@model cfab.Models.Date

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h2>@Model.DateName</h2>
        <br />
        <br />
        <ul>
            <li>Date of Date: @Html.DisplayFor(Model => Model.DayOfDate)</li>
            <li>Start Address: @Model.StreetOne</li>
            <li>Alternative Address: @Model.StreetTwo</li>
            <li>Zip Code: @Model.Zipcode.ZipCodeNum</li>
            <li>Date Price: @Model.DatePrice.DatePriceRange</li>
            <li>Atmosphere: @Model.RestaurantType.RestaurantTypeName</li>
            <li>Date Time of Day: @Model.DateTimeOfDay.DateTimeOfDayType</li>
            <li>Date Personality: @Model.DateType.DateTypeName</li>
            <li>Go out to Eat? @Model.willEat</li>
            <li>Optional Keyword: @Model.Keyword</li>
        </ul>

    </div>


    <div class="col-md-4">
    </div>
</div>