@model IEnumerable<cfab.Models.Date>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="right">@Html.ActionLink("Start Planning A Date", "New", null, new { @class = "btn btn-default" })</div>
@*@Html.ActionLink("Start Planning A Date", "New", null, new { @class = "btn btn-default" })*@


<h3>Customer Information</h3>
<table id ="table" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th id="tableHead">Date Name</th>
            <th id="tableHead">Day of Date</th>
            <th id="tableHead">Starting Address</th>
            @*<th id="tableHead">Street Two</th>*@
            <th id="tableHead">Starting Zip</th>
            @*<th id="tableHead">Date Cost</th>
            <th>Date Time of Day</th>
            <th>Restaurant Type</th>
            <th>Chatty</th>
            <th>Active</th>
            <th>Artsy</th>*@
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var date in Model)
            {
            <tr>
                <td>@Html.ActionLink(date.DateName, "Details", "Date", new {id = date.Id, }, null) </td> @*//Details was Edit.*@
                <td>@date.DayOfDate</td>
                <td>@date.StreetOne</td>
                @*<td>@date.StreetTwo</td>*@
                <td>@date.Zipcode.ZipCodeNum</td>
                @*<td>@date.DatePrice.DatePriceRange</td>
                <td>@date.DateTimeOfDay.DateTimeOfDayType</td>
                <td>@date.RestaurantType.RestaurantTypeName</td>
                <td>@date.IsChatty</td>
                <td>@date.IsActive</td>
                <td>@date.IsArtsy</td>*@
                <td>@Html.ActionLink("See This Date", "Results", "Date", new { id = date.Id, }, new { @class = "btn btn-primary" })</td>
             </tr>
        }
    </tbody>
</table>
