@model cfab.ViewModels.DateFormViewModel

@{
    ViewBag.Title = "DateForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h1>New Date</h1>
    <br />
    
</center>
<div class="row">
    <div class="col-md-1">
    </div>
    <center>
        @using (Html.BeginForm("Save", "Date"))
        {
            <div id="columnOne" class="col-md-3">
                <h4>Basic Date Info</h4>
                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.Date.DateName)
                    @Html.TextBoxFor(m => m.Date.DateName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Date.DayOfDate)
                    @Html.TextBoxFor(m => m.Date.DayOfDate, "MM/dd/yyyy", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Date.StreetOne)
                    @Html.TextBoxFor(m => m.Date.StreetOne, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Date.StreetTwo)
                    @Html.TextBoxFor(m => m.Date.StreetTwo, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Date.ZipcodeId)
                    @Html.DropDownListFor(m => m.Date.ZipcodeId, new SelectList(Model.Zipcodes, "Id", "ZipCodeNum"), "Choose ZIP", new { @class = "form-control" })
                </div>
            </div>
            <div id="columnTwo" class="col-md-4">
                <h4>Date Details</h4>
                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.Date.DatePriceId)
                    @Html.DropDownListFor(m => m.Date.DatePriceId, new SelectList(Model.DatePrices, "Id", "DatePriceRange"), "Choose Price", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Date.RestaurantTypeId)
                    @Html.DropDownListFor(m => m.Date.RestaurantTypeId, new SelectList(Model.RestaurantTypes, "Id", "RestaurantTypeName"), "Choose Atmosphere", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Date.DateTimeOfDayId)
                    @Html.DropDownListFor(m => m.Date.DateTimeOfDayId, new SelectList(Model.DateTimeOfDays, "Id", "DateTimeOfDayType"), "Choose Time", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Date.Keyword)
                    @Html.TextBoxFor(m => m.Date.Keyword, new { @class = "form-control" })
                </div>
          
                @*<br 
                <br />
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Date.IsChatty) Is your Date Chatty?
                    </label>
                </div>
                <br />
                <br />
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Date.IsActive) Is your Date Active?
                    </label>
                </div>
                <br />
                <br />
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Date.IsArtsy) Is your Date Artsy?
                    </label>
                </div>
                <br />
                <br />*@

            </div>
            <div id="columnThree" class="col-md-3">
                <h4>Tell Us About Your Date</h4>
                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.Date.DateTypeId)
                    @Html.DropDownListFor(m => m.Date.DateTypeId, new SelectList(Model.DateTypes, "Id", "DateTypeName"), "Choose Type", new { @class = "form-control" })
                </div>
                <br />
                <br />
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Date.willEat) Will you be going out to Eat?
                    </label>
                </div>
                <br />
                <br />
                <br />
                @Html.HiddenFor(m => m.Date.Id)
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        }
    </center>

    <div class="col-md-1">
    </div>
</div>
<center>
    <div class="row">
        <script src="@Url.Content("~/Scripts/Weather.js")"></script>
        <table id="showResults" class="table table-condensed table-hover " border-color='white'>
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>City</th>
                    <th>Temp</th>
                    <th>Forecast</th>
                    <th>Wind</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </div>
</center>
